.treino-box {
  background: #222;
  border: 2px solid #ff004c;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.treino-box h2 {
  color: #ff004c;
}

.treino-box ol li {
  margin-bottom: 8px;
}

.treino-box p {
  margin: 5px 0;
  line-height: 1.4;
}